<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>: Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Feed</h1>

    <form action="/posts/new" method="get">
        <button>Create a Post</button>
    </form>

    <% posts.forEach(post => { %>
     <div>
        <h2><%= post.author.username %></h2>
        <h4><%= post.caption %></h4>
        <p><small><%= post.timestamp.toLocaleString() %></small></p>
        <p>Score: <%= post.score %></p>

        <% if (post.author._id.equals(user._id)) { %>
        <a href="/posts/<%= post._id %>/edit">Edit Post</a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
            <button>Delete Post</button>
        </form>
        <% } %>
     </div>
    <% }); %>

</body>
</html>